<h1>Shopping Cart</h1>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let listi of lis">
      <td>
        {{listi.name}}
      </td>

      <td>{{listi.Quantity}}</td>
      <td>{{listi.price | currency:'USD':true}}</td>
      <!--<td>{{listi.tprice | currency:'USD':true}}</td>-->
    </tr>
  
  </tbody>
  <tfoot>

      <tr>
          
          
        </tr>
      </tfoot>
</table>

<button type="button" class="btn btn-primary fixed-bottom" routerLink="/login">Order</button>