<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://static1.squarespace.com/static/58387324f7e0ab0eba8ba3bf/t/59110321893fc011d4e66104/1494287142870/ThinkstockPhotos-521712317.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Suignup Form -->
      <form>
        <input type="text" id="user" class="fadeIn second" name="login" placeholder="Username...">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password...">
        <input type="text" id="email" class="fadeIn fourth" name="login" placeholder="email...">
        <input type="submit" class="fadeIn fifth" routerLink="/login" value="Sign Up">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/login">Have an account?</a>
      </div>
  
    </div>
  </div>